@model Identity.API.Models.Account.LoginViewModel

<div class="login-page">
    <div class="container">
        <div class="row top-buffer">
            @if (Model.EnableLocalLogin)
            {
                <div class="col"></div>
                <div class="col-sm-6">
                    <form asp-route="Login">
                        <input type="hidden" asp-for="ReturnUrl"/>
                        <div class="login-container">
                            <h2>登录</h2>
                            <partial name="_ValidationSummary"/>
                            <div class="form-group">
                                <label asp-for="UserName"></label>
                                <input class="form-control" placeholder="用户名" asp-for="UserName" autofocus/>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password"></label>
                                <input type="password" class="form-control" placeholder="密码" asp-for="Password"
                                       autocomplete="off"/>
                            </div>
                            @if (Model.AllowRememberLogin)
                            {
                                <div class="form-group">
                                    <div class="form-check"></div>
                                    <input class="form-check-input" asp-for="RememberLogin"/>
                                    <label class="form-check-label" asp-for="RememberLogin">
                                        记住我
                                    </label>
                                </div>
                            }
                            <div>
                                <p>默认用户为 alice/bob，密码：Pass123$</p>
                            </div>
                            <button class="btn btn-primary" name="button" value="login">登录</button>
                        </div>
                    </form>
                </div>
                <div class="col"></div>
            }
        </div>
    </div>
</div>