<footer class="eshop-footer">
    <div class="eshop-footer-content">
        <div class="eshop-footer-row">
            <img alt="" role="presentation" src="images/logo-footer.svg" class="logo logo-footer" />
            <p>@Constants.CopyRight</p>
        </div>
    </div>
</footer>