@inherits LayoutComponentBase

<HeaderBar />
@Body
@* <ShowChatbotButton /> *@
<FooterBar />

<div id="blazor-error-ui">
    出现了未处理的异常。
    <a href="" class="reload">重新加载</a>
    <a class="dismiss">X</a>
</div>