@model Identity.API.Models.Account.ErrorViewModel

@{
    var error = Model?.ErrorMessage?.Error;
    var errorDescription = Model?.ErrorMessage?.ErrorDescription;
    var requestId = Model?.ErrorMessage?.RequestId;
}

<div class="error-page">
    <div class="lead">
        <h1>错误</h1>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="alert alert-danger">
                错误信息：
                @if (error != null)
                {
                    <strong>
                        <em>
                            ：@error
                        </em>
                    </strong>
                    if (errorDescription != null)
                    {
                        <div>@errorDescription</div>
                    }
                }
            </div>
            @if (@requestId != null)
            {
                <div class="request-id">请求id：@requestId</div>
            }
        </div>
        <li>
            <a href="~/diagnostics">点击这里</a>
            去查看当前会话的标识
        </li>
        <li>
            <a href="~/grants">点击这里</a>
            去管理你保存的授权
        </li>
        <li>
            以下是参考链接：
            <a href="https://github.com/identityserver/identityServer4">源代码仓库</a>
            ，和
            <a href="https://github.com/identityserver/identityserver4/tree/main/samples">使用示例</a>
        </li>
    </div>
</div>