@model Identity.API.Models.Account.RedirectViewModel

<div class="redirect-page">
    <div class="lead">
        <h1>即将跳转回应用程序</h1>
        <p>跳转完成后，你可以关闭当前标签页。</p>
    </div>
</div>

<meta http-equiv="refresh" content="0;url=@Model.RedirectUrl" data-url="@Model.RedirectUrl"/>
<script src="~/js/signin-redirect.js"></script>